package ${packageName}.business.${modelName};

import com.baofoo.framework.crud.bussiness.BaseBussiness;
import ${packageName}.model.${modelName}.${domainName}Entity;
/**
* Created by ${author}  on ${dataTime}.
* ${tableDesc}业务实现
*/
public interface ${domainName}Business extends BaseBussiness<${domainName}Entity>{


}
