package ${packageName}.dao.${modelName};

import ${packageName}.model.${modelName}.${domainName}Entity;
import com.baofoo.framework.crud.dao.BaseDao;
import java.util.List;

/**
* Created by ${author}  on ${dataTime}.
* ${tableDesc}表操作
*/
public interface ${domainName}Dao extends BaseDao<${domainName}Entity> {


}