package ${packageName}.dao.${model};

import ${packageName}.model.${model}.${javaDomainName}Entity;
import com.mobanker.framework.es.BaseDao;

import java.util.List;


/**
* Created by CodeGeneration on ${dataTime}.
* ${domainDesc}
*/
public interface ${javaDomainName}ESDao extends BaseDao<${javaDomainName}Entity> {

    public void save(${javaDomainName}Entity entity) throws Exception;

    public void saveList(List<${javaDomainName}Entity> entities) throws Exception;

}
