package ${packageName}.model.${model};

import com.mobanker.bigdata.infrastructures.utils.IdUtils;
import com.mobanker.framework.encrypt.annotation.BussinessId;
import com.mobanker.framework.es.ElasticsearchField;
import com.mobanker.framework.es.ElasticsearchIndex;
import com.mobanker.framework.hbase.dao.annonation.DatabaseField;
import com.mobanker.framework.hbase.dao.annonation.DatabaseTable;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.ToString;
import org.apache.commons.lang3.StringUtils;

/**
* Created by CodeGeneration on ${dataTime}.
* ${domainDesc}
*/
@Data
@EqualsAndHashCode(callSuper = false)
@ToString(callSuper = true)
@DatabaseTable(tableName = "${hBaseTable}")
@ElasticsearchIndex(indexName = "${indexName}", typeName = "${typeName}")
public class ${hBaseEntity} {

/**
* rowKey ${rowkey}
*/
@DatabaseField(id = true)
@ElasticsearchField(id = true)
private String id;


#foreach($data in $itemData.entrySet())
/**
*  ${data.value}
*/
@DatabaseField(familyName = "${familyName}")
private String ${data.key};
#end

/**
* 加解密使用的业务代码
*/
@BussinessId
@DatabaseField(familyName = "${familyName}")
private String businessId;

//设置rowkey
public void setRowKey() {
        this.setId(this.getBillNo().replace("-", "")+IdUtils.ID_SEPARATOR + this.getTimestamp());
}


}
