package com.mobanker.bigdata.infrastructures.dao.${model};

import com.mobanker.bigdata.infrastructures.model.${model}.${hBaseEntity};
import com.mobanker.framework.exception.HBaseORMException;
import com.mobanker.framework.hbase.dao.Dao;
import com.mobanker.framework.hbase.dao.model.Page;

import java.util.List;
/**
* Created by CodeGeneration on ${dataTime}.
* ${domainDesc}
*/
public interface ${javaDomainName}Dao extends Dao<${hBaseEntity}> {

    public void save(${hBaseEntity} entity) throws HBaseORMException;

    public void saveList(List<${hBaseEntity}> entities) throws HBaseORMException;

    public ${hBaseEntity} get(String id) throws HBaseORMException;
    
}