export default {
	data : {
	    menuItems:[
#foreach($model in $modelList)
	        {
	            "children":[
	            	#foreach($DomainMapper in $model.domainMappers)
					{
						"name":"${DomainMapper.tableDesc}管理",
						"path":"/${DomainMapper.modelName}/${DomainMapper.domainName}",
						"icon": "icon-stealth"
					},
					#end
		        ],
	            "name":"${model.modelDesc}",
	            "path":"/${model.modelName}",
	            "icon": "icon-setup_fill"
	        },
#end
	    ],
	    name:"${projectDesc}"
	}
}