import Vue from 'vue'
import Router from 'vue-router'
import PageTransition from '@/components/PageTransition' //默认

var dataSrc = '';

Vue.use(Router);


/*按需加载*/
export const vueConfig = {
    index : resolve => require.ensure([], () => resolve(require('@/vue/index')), 'common/index'),//首页
    tpl : {
        header_tpl : resolve => require.ensure([], () => resolve(require('@/components/header')), 'common/header'),//头部
        menu_tpl   : resolve => require.ensure([], () => resolve(require('@/components/menu')), 'common/menu'),//左测菜单
    },
    vue : {
        #foreach($model in $modelList)
            ${model.modelName}: {
            #foreach($DomainMapper in $model.domainMappers)
                    ${DomainMapper.domainName}        : resolve => require.ensure([], () => resolve(require('@/vue/${DomainMapper.modelName}/${DomainMapper.domainName}')), 'vue/${DomainMapper.modelName}/${DomainMapper.domainName}'),
            #end
            },
        #end
    }
}
export default new Router({
    mode: 'history', //去掉#
    routes: [
        {
            path: '/',
            component : PageTransition,
            children: [
                {path: '',							      component : vueConfig.index},//登陆
                {path: dataSrc+'/index',           		  component : vueConfig.index},//首页
                #foreach($model in $modelList)
                    #foreach($DomainMapper in $model.domainMappers)
                    {path: dataSrc+'/${DomainMapper.modelName}/${DomainMapper.domainName}',         component : vueConfig.vue.${DomainMapper.modelName}.${DomainMapper.domainName}},//${DomainMapper.tableDesc}
                    #end
                #end


            ]
        }
    ]
})
